@charset "utf-8";
/* webfont주소 상단에 쓰면됨 */


html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Isamanru';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

html,
body {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

body {
    font-family: "Pretendard Variable";
    /* p태그 기준 들어갈 서체 */
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5em;
    color: #333;

}

#wrap {
    min-width: 1400px;
    overflow: hidden;

}

.top_btn {

    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #e89247;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
}


.top_btn:hover {
    background-color: #fd7803;
}

#top {
    background-color: rgb(8, 64, 77);
    height: 80px;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: bold;
}

.mid {
    width: 1320px;
    margin: 0 auto;

}

.top_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: relative;

}

.top_left {
    display: flex;

}

.logo {
    position: absolute;
    left: 0;
    top: 22px;
}

.gnb {
    display: flex;
    color: #fff;
    padding-left: 204px;
}

.gnb li a {
    display: block;
    /* background-color: pink; */
    /* margin-right: 50px; */
    margin: 0 10px;
    /* margin-top: 5px; */
    padding: 26px 25px 26px;

}

/* menu hover start*/
.util_left li a {

    display: inline-block;
    margin: 0px 10px;
    font-weight: bold;

}

.gnb li {
    position: relative;

    /* padding: 24px 0px; */
    box-sizing: border-box;
}

/* .gnb li:hover {
    background-color: rgb(7, 33, 39);
} */

.gnb li a::after {
    content: '';
    display: inline-block;
    height: 3px;
    width: 100%;
    background-color: #e89247;
    position: absolute;
    left: 0;
    bottom: 3px;
    transform: scaleX(0);
    transform-origin: left center;

}

.gnb li a:hover {}

.gnb li a:hover::after {
    animation: menu 1s forwards;
}

@keyframes menu {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

/* menu hover end */

/* top menu:hover */
.gnb a {
  line-height: 2em;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
}

.gnb a span {
    text-align: center;
  position: relative;
  display: inline-block;
      padding: 0px 20px 0;
  background: rgb(8, 64, 77);
  box-shadow: inset 0 3px rgb(8, 64, 77);
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
  transition: background 0.6s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.gnb a span:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  color: rgb(8, 64, 77);
  content: attr(data-hover);
  -webkit-transform: rotateX(270deg);
  -moz-transform: rotateX(270deg);
  transform: rotateX(270deg);
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  pointer-events: none;
}

.gnb a:hover span, .gnb a:focus span {
  background: rgb(8, 64, 77);
}

.gnb a:hover span:before, .gnb a:focus span:before {
  -webkit-transform: rotateX(10deg);
  -moz-transform: rotateX(10deg);
  transform: rotateX(10deg);
}
/* top menu:hover end */



.logo {
    margin-right: 50px;
}





.search_wrap {
    width: 214px;
    height: 40px;
    /* margin: 200px auto; */
    padding: 10px 30px;
    box-sizing: border-box;
    /* border: 2px solid #999; */
    border-radius: 30px;
    /* background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: left 10px center;     */
    /* background-image: url(../images/top/search.svg);
    background-repeat: no-repeat;
    background-position: right 5px center; */
    background-color: #fff;

}

.search_wrap input {
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;

}

.search_wrap input::placeholder {
    color: #666;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-size: 16px;
}

.search_wrap {
    position: relative;
}

.search_icon {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 3px;
    right: 5px;
}

.search_icon:hover {
    opacity: 0.7;
}

/* top end */




/* progress start */
        .parallax__progress progress {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10000;
            width: 100%;
            height: 5px;
            border: none;
            background: transparent;
        }
        progress::-webkit-progress-bar {
            background: transparent;
        }
        progress::-webkit-progress-value {
            background: linear-gradient(to right,#fdc741,#ff6b01,#fc4236);
            background-attachment: fixed;
        }
        progress::-moz-progress-value {
            background: linear-gradient(to left, #fdc741,#ff6b01,#fc4236);
            background-attachment: fixed;
        }
/* progress end*/




/* banner start */
#banner {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 300px;
}

#banner_img {
    height: 300px;
}

#banner_img img {
    display: flex;
    overflow: hidden;
}

/* banner end */












/* about start */
#about {
    font-family: "IBM Plex Sans KR", sans-serif;
    padding-top: 120px;
}

.title {
    color: rgb(8, 64, 77);
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 700;
    font-size: 64px;
    /* padding-top: 100px; */
    text-align: center;
    padding-bottom: 80px;
}

.title_slogan {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    line-height: 42px;
    padding-bottom: 100px;

}
/* img 배경색 */
    .content_img{
        overflow: hidden;
    }
        .content_img img{


            filter: saturate(50%);
            transition: all 1s;
            
        }
        .content_img img:hover {
            filter: saturate(100%);
            transform: scale(1.1);
        }
/* img 배경색 끝 */



/* title highlight start*/

.title_b_line{
    position: relative;
    display: inline-block;
    width: fit-content;
}

.title_b_line::after {
    content: "";
    width: 100%;
    /* width: fit-content; */
    height: 13px;
    background-color:#e89247;
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}
.title_b_line.active::after {
    transform: scaleX(1);
}
/* title highlight end */

.slogan_box {
    display: flex;
}

.slogan_box_left {
    display: flex;
    width: 660px;
    font-size: 64px;
    font-weight: bold;
    padding-top: 50px;
}

.since_line {
    width: 300px;
    height: 10px;
    background-color: #333;
    margin-top: 7px;
}
/* line ani */
        .since_line{
            width: 300px;
            height: 10px;
            transform: scalex(0);
            /* 초기 위치 설정 */
            transition: transform 2s ease-in-out;
            /* transition 사용 */
        }

        .year{
            transform: translateX(-300px);
            transition: transform 2s ease-in-out;
        }

        /* .animate 클래스가 추가되면 transform 속성 변경 */
        .slogan_box_left.animate .since_line {
            transform: scalex(1);
            transform-origin: left;
        }
        .slogan_box_left.animate .year{
            transform: translateX(0);
        }
/* line ani end*/

.icon_border {
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 120px;
    align-items: center;
    /* border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; */
    text-align: center;
    margin: 100px 0;
    font-size: 14px;
    font-weight: bold;
    background-color: #eee;
}

.icon_border img {
    /* height: 46px; */
}

.icon_wrap {
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_border li {
    width: 100px;
}

/* icon ani start */
.icon_wrap img,p{
    /* border-radius: 50%; */
    /* overflow: hidden; */
    /* 사진이 안튀어나오게만들기 히든주는순간 원으로바뀜  */
    /* a keyframe */
    transform: rotateY(0deg);
    transition: transform 1s;
}
.icon_wrap img:hover{
        /* a keyframe */
    transform: rotateY(360deg);

}
.icon_wrap img{
    display: block;
}
/* icon ani end*/

.slogan_box_right {
    padding-left: 50px;
}

.main_slogan {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 30px;
    line-height: 32px;
}

.main_text {
    font-size: 18px;
    font-weight: 500;
}

.content {
    display: flex;
    justify-content: space-between;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-size: 15px;
    font-weight: 500;
    box-sizing: border-box;

}

.content_text {
    width: 660px;
    height: 500px;
    text-align: right;
    padding-right: 60px;
    padding-top: 60px;
    box-sizing: border-box;

}

.content_img {
    width: 660px;
    height: 500px;
}

.ko_slogan {
    font-weight: 700;
    font-size: 30px;
    padding: 8px 0 30px;
}

.eng_slogan {
    font-weight: 600;
    font-size: 18px;
}

.ko_text {
    padding-bottom: 20px;
}

.content_text_right {
    text-align: left;
    width: 660px;
    height: 500px;
    padding-left: 60px;
    padding-top: 60px;
    box-sizing: border-box;
}

/* about end */







/* store start */
#store {

    height: 800px;
    overflow: hidden;
    background-color: rgb(8 64 77);
    color: #fff;
    text-align: center;
}

.store_title {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    padding: 100px 0 30px;
    line-height: 70px;
}

.store_text {
    padding-bottom: 100px;
}

.store_wrap {
    display: flex;
}

.store_wrap li {
    width: 255px;
    height: 255px;
    box-sizing: border-box;
}


/* store slide */
#flow .title_wrapper {
    width: 1320px;
    margin: 0 auto;
}

.flow_line {
    display: flex;
    width: 3710px;
    padding-bottom: 30px;
}

.flow_line ul {
    display: flex;
    justify-content: space-around;
    width: 1855px;
}

/* line animation */
.line1 {
    animation: flow 35s linear infinite;
}

.line2 {
    animation: flow 35s linear reverse infinite;
}

@keyframes flow {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.flow_line:hover {
    animation-play-state: paused;
}



@keyframes more {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}

/* store slide end */
/* store cover */
.cover_wrap {
    position: relative;
    width: 255px;
    height: 255px;
}

.cover {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    transition: transform 0.5s;
    /* 사진의 높이를 맞추려면 height 100%주는게 맞음 */
    font-family: "IBM Plex Sans KR", sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.branch {
    font-weight: 700;
    font-size: 24px;
}

.address {
    font-weight: 300;
    font-size: 12px;
    padding-bottom: 20px;
}

.cover_title {
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 5px;
}

.cover_text {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}



/* 내려가는애 */
.branch,
.address {
    /* a keyframe */
    transform: translatey(-110px);
    transition: transform 0.5s;
}

.cover_wrap:hover .branch,
.cover_wrap:hover .address {
    /* b keyframe */
    transform: translatey(0);
}


/* 올라가는애 */
.cover_title,
.cover_text {
    /* a keyframe */
    transform: translateY(120px);
    transition: transform 0.5s;
}

.cover_wrap:hover .cover_title,
.cover_wrap:hover .cover_text {
    /* b keyframe */
    transform: translatey(0);
}

/* 커버 생기게하기 */
.cover_wrap:hover .cover {
    opacity: 1;
    /* b keyframe */
}




/* text flow */
@keyframes textflow1 {

    /* 절반만이동해야 흰화면안나오고 계속이어짐 */
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0%);
    }
}

.flow1 {
    font-family: 'Isamanru';
    color: #444;
    line-height: 45px;
    overflow: hidden;
    padding: 10px 0;
    /* overflow hidden으로 스크롤 없앨수있음 */
    width: 6000px;
}

.track {
    font-size: 40px;
    white-space: nowrap;
    font-weight: bold;
    width: 3000px;
}

.ani1 {
    animation: textflow1 15s linear infinite;
}
















/* community start */
#community {
    height: 1500px;
    background-color: rgb(8 64 77);
    color: #fff;

}

.community_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 나중에 수정 */
}

.community_title {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 700;
    font-size: 64px;
    padding-top: 100px;
    text-align: center;
    padding: 100px 0 30px;
    line-height: 70px;
}

.community_text {
    padding-bottom: 100px;
    text-align: center;
}

/* 타이핑 테스트 */
.typing-container{
    text-align: center;
    padding-bottom: 100px;
}
/* 타이핑 테스트 */

.sns_wrap {
    display: flex;
    width: 1090px;
    gap: 30px;
    padding-bottom: 100px;
}

.sns_wrap img {
    border-radius: 20px;
}

.sns_wrap li:nth-child(1) {
    padding-top: 60px;
}

.sns_wrap li:nth-child(3) {
    padding-top: 60px;
}



/* sns hover */

.sns_wrap img{
    transform: translateY(0);
    transition: transform 0.6s;
}
.sns_wrap img:hover{
    transform: translateY(-40px);
}



/* effect */
/* effect test */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:hover, a:focus {
  outline: none;
}


.sns_wrap a{
  padding: 0;
  z-index: 1;
}

.sns_wrap a:hover {
  color: rgba(255, 255, 255, 0.8);
  -ms-animation: circleOpacity forwards 1s;
  -moz-animation: circleOpacity forwards 1s;
  -webkit-animation: circleOpacity forwards 1s;
  animation: circleOpacity forwards 1s;
}

@keyframes circleOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.sns_wrap a:before, .sns_wrap a:after {
  position: absolute;
  top: 0px;
  left: 0;
  content: "◯";
  display: block;
  width: 100%;
  font-size: 0px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  z-index: -1;
}

.sns_wrap a:hover:before {
  animation: circledrop 1s;
  -ms-animation: circledrop 1s;
  -moz-animation: circledrop 1s;
  -webkit-animation: circledrop 1s;
}

.sns_wrap a:hover:after {
  animation: circledrop 1s 0.5s;
  -ms-animation: circledrop 1s 0.5s;
  -moz-animation: circledrop 1s 0.5s;
  -webkit-animation: circledrop 1s 0.5s;
}

@keyframes circledrop {
  0% {
    opacity: 1;
    font-size: 0;
    top: 0;
  }
  100% {
    opacity: 0;
    font-size: 80px;
    top: -50px;
  }
}
/* effect test end */




/* footer start */

#footer {
    background-color: #333;
    height: 285px;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    color: #ccc;
    font-size: 14px;
    line-height: 1.5em;
}

.footer_inner {
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
}

.icon_wrap {
    display: flex;
    gap: 6px;

}

.footer_text {
    padding-top: 20px;
}

/* footer hover */
.icon_box:hover {
    opacity: 0.7;
}

.footer_logo:hover {
    opacity: 0.7;
}

.icon_box {

    /* A keyframe */
    transform: translate(0, 0);
    transition: transform 0.5s;
    /* 트랜지션은 a ㅏ됽믇dptj wnjdigka */
}

.icon_box:hover {
    transform: translate(0, -10px);
}

/*  */