@charset "utf-8";
/* webfont주소 상단에 쓰면됨 */


html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Isamanru';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

html,
body {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

body {
    font-family: "Pretendard Variable";
    /* p태그 기준 들어갈 서체 */
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5em;
    color: #333;

}

#wrap {
    min-width: 1400px;
    overflow: hidden;

}

.top_btn {

    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #e89247;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
}


.top_btn:hover {
    background-color: #fd7803;
}

#top {
    background-color: rgb(8, 64, 77);
    height: 80px;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: bold;
}

.mid {
    width: 1320px;
    margin: 0 auto;

}

.top_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: relative;

}

.top_left {
    display: flex;

}

.logo {
    position: absolute;
    left: 0;
    top: 22px;
}

.gnb {
    display: flex;
    color: #fff;
    padding-left: 204px;
}

.gnb li a {
    display: block;
    /* background-color: pink; */
    /* margin-right: 50px; */
    margin: 0 10px;
    /* margin-top: 5px; */
    padding: 26px 25px 26px;

}




.logo {
    margin-right: 50px;
}





.search_wrap {
    width: 214px;
    height: 40px;
    /* margin: 200px auto; */
    padding: 10px 30px;
    box-sizing: border-box;
    /* border: 2px solid #999; */
    border-radius: 30px;
    /* background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: left 10px center;     */
    /* background-image: url(../images/top/search.svg);
    background-repeat: no-repeat;
    background-position: right 5px center; */
    background-color: #fff;

}

.search_wrap input {
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;

}

.search_wrap input::placeholder {
    color: #666;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-size: 16px;
}

.search_wrap {
    position: relative;
}

.search_icon {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 3px;
    right: 5px;
}

.search_icon:hover {
    opacity: 0.7;
}
/* menu hover start*/
.util_left li a {

    display: inline-block;
    margin: 0px 10px;
    font-weight: bold;

}

.gnb li {
    position: relative;

    /* padding: 24px 0px; */
    box-sizing: border-box;
}

/* .gnb li:hover {
    background-color: rgb(7, 33, 39);
} */

.gnb li a::after {
    content: '';
    display: inline-block;
    height: 3px;
    width: 100%;
    background-color: #e89247;
    position: absolute;
    left: 0;
    bottom: 3px;
    transform: scaleX(0);
    transform-origin: left center;

}

.gnb li a:hover {}

.gnb li a:hover::after {
    animation: menu 1s forwards;
}

@keyframes menu {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

/* menu hover end */

/* top menu:hover */
.gnb a {
  line-height: 2em;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
}

.gnb a span {
    text-align: center;
  position: relative;
  display: inline-block;
      padding: 0px 20px 0;
  background: rgb(8, 64, 77);
  box-shadow: inset 0 3px rgb(8, 64, 77);
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
  transition: background 0.6s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.gnb a span:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  color: rgb(8, 64, 77);
  content: attr(data-hover);
  -webkit-transform: rotateX(270deg);
  -moz-transform: rotateX(270deg);
  transform: rotateX(270deg);
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  pointer-events: none;
}

.gnb a:hover span, .gnb a:focus span {
  background: rgb(8, 64, 77);
}

.gnb a:hover span:before, .gnb a:focus span:before {
  -webkit-transform: rotateX(10deg);
  -moz-transform: rotateX(10deg);
  transform: rotateX(10deg);
}
/* top menu:hover end */
/* top end */




/* progress start */
.parallax__progress progress {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 5px;
    border: none;
    background: transparent;
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    background: linear-gradient(to right, #fdc741, #ff6b01, #fc4236);
    background-attachment: fixed;
}

progress::-moz-progress-value {
    background: linear-gradient(to left, #fdc741, #ff6b01, #fc4236);
    background-attachment: fixed;
}

/* progress end*/










/* help_start */
#help{
    text-align: center;
}
.title {
    color: #333;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 700;
    font-size: 64px;
    padding-top: 120px;
    text-align: center;
    padding-bottom: 40px;

}

.title_ko {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 42px;
    padding-bottom: 80px;

}
.link_box{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    gap: 30px;
    font-size: 20px;

}
/* linkbox */

/* link hover */


.link_box li {
    overflow: hidden;
    position: relative;
    /* background-color: pink; */
    display: inline-block;
    /* background-color: pink; */
    /* padding-bottom: -5px; */
    padding: 10px 20px;

}
.link_box li.tab1::before{
    background-color: #e89247;
    color: #fff;
}
.link_box li{
    position: relative;
}
.link_box li::before{
    content: "";
    height: 3px;
    background-color: #ccc;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}











/* q&a start */
#section1 {
    width: 1320px;
    margin: 50px auto;
    text-align: left;

}
.board li{
    margin-bottom: 20px;
    background-color: #eee;
    border-radius: 30px;
    overflow: hidden;
}
/* .line {
    height: 1px;
    background-color: #999;
} */

.board_btn {
    display: flex;
    /* 게시판에들어가는것들은 꼭 필수로 너비줘야함 */
    align-items: center;
    width: 1320px;
    height: 50px;

}
.board_btn strong {
    display: block;
    width: 10%;
    text-align: center;
    font-size: 20px;
}
.color{
    color: red;
}

.board_btn p {
    width: 85%;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 18px;
}

.board_btn span {
    display: block;
    width: 5%;
    text-align: center;
}
.board_btn span img{
    transition: transform 0.5s;
}
.turn img{
    transform: rotate(180deg);
}
.answer{
    background-color: #eee;
    display: flex;
    padding: 30px 0;
    border-radius: 0 0 30px 30px;

}
.answer strong{
    display: block;
    width: 10.1%;
    text-align: center;
}
.answer p{
    width: 89.9%;


}
/* q&a end */





/* footer start */

#footer {
    background-color: #333;
    height: 285px;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    color: #ccc;
    font-size: 14px;
    line-height: 1.5em;
    margin-top: 100px;
}

.footer_inner {
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
}

.icon_wrap {
    display: flex;
    gap: 6px;

}

.footer_text {
    padding-top: 20px;
}

/* footer hover */
.icon_box:hover {
    opacity: 0.7;
}

.footer_logo:hover {
    opacity: 0.7;
}

.icon_box {

    /* A keyframe */
    transform: translate(0, 0);
    transition: transform 0.5s;
    /* 트랜지션은 a ㅏ됽믇dptj wnjdigka */
}

.icon_box:hover {
    transform: translate(0, -10px);
}

/*  */